header.hero-header
	.container
		.logo.col-md-2.col-xs-2
			a.logo(href="#")
				img(src="img/Alexis.png", alt="Alexis")
		nav.main-nav.col-md-10.col-xs-10			
			a.main-nav__item(href="#") About Us
			a.main-nav__item(href="#") Our Focus
			a.main-nav__item(href="#") Our Team
			a.main-nav__item(href="#") Portfolio
			a.main-nav__item(href="#") Work Steps
			a.main-nav__item(href="#") Pricing
			a.main-nav__item(href="#") Testimonials
			a.main-nav__item(href="#") Blog
			a.main-nav__item(href="#") Contact