section.hero.dark
	.container
		h1 We design things with love and passion.
		a.hero__button(href="#") our works
		.row.hero-info-wrapper
			.hero-info-box.col-md-4
				img(src="./img/dollar1.png" alt="Dollar")
				p.green-text Fixed price projects
			.hero-info-box.col-md-4
				img(src="./img/clock1.png" alt="Clock")
				p.purple-text Receive on time
			.hero-info-box.col-md-4
				img(src="./img/ok1.png" alt="Ok")
				p.orange-text Satisfaction guranteed