doctype html
html
head
  meta(charset="UTF-8")
  title Alexis
  link(href='https://fonts.googleapis.com/css?family=Poppins:500' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Libre+Baskerville' rel='stylesheet' type='text/css')
  link(rel="stylesheet", href="styles/bootstrap.min.css")  
  link(rel="stylesheet", href="styles/main.min.css")
body
  include partials/header
  include partials/hero
  include partials/about